Source: glpk
Version: 4.65-1
Description: GLPK 4.65 (GNU Linear Programming Kit, http://www.gnu.org/software/glpk/) is a solver for large-scale linear programming (LP), and mixed integer programming (MIP)
