Source: libgpg-error
Version: 1.35-1
Description: LibGPG-Error is a small library with error codes and descriptions shared by most GnuPG related software. http://www.gnupg.org/(de)/related_software/libgpg-error
