Source: libdvdread
Version: 6.0.1-1
Description: libdvdread provides a simple foundation for reading DVD video disks. It provides the functionality that is required to access many DVDs. http://dvdnav.mplayerhq.hu/
