Source: soxr
Version: 0.1.3
Description: The SoX Resampler library `libsoxr' performs one-dimensional sample-rate conversion—it may be used, for example, to resample PCM-encoded audio. https://sourceforge.net/projects/soxr/
